body {
  background-color: #f3f3f3;
}

header {
  background-color: white;
  font-size: 28px;
  text-align: center;
}
.top-section {
  margin-top: 20px;
  background-color: #2b2e5c;
  border-radius: 15px 15px 15px 15px;
  color: white;
  text-align: center;
}

.left-column-align {
  margin-top: 18px;
}

.input {
  padding: 10px;
  align-items: center;
}

/* .input-group > .form-control,
.input-group > .form-select {
  border-bottom: orange;
} */

input.form-control:focus {
  outline: none !important;
  box-shadow: none;
}

.bottom-section {
  margin-top: 50px;
  background-color: white;
  border: solid 1px #ea8a56;
  border-radius: 15px 15px 15px 15px;
  color: grey;
  text-align: center;
}

.button-outline {
  color: #ea8a56;
  border: 1px solid #ea8a56;
}

.button-outline:hover,
.button-outline:focus {
  background: #ea8a56;
}

.button-outline:active,
.button-outline.active {
  background: #ea8a56;
  box-shadow: none;
}

.right-column-dollars {
  margin-top: 18px;
  color: black;
  text-align: left;
}
